# MongoDB Configuration
MONGODB_URI=mongodb://root:example_password@localhost:27017/
MONGODB_DB_NAME=sentiment_db

# YouTube API
YOUTUBE_API_KEY=your_youtube_api_key_here

# NLP Settings
TRANSFORMERS_MODEL=cardiffnlp/twitter-roberta-base-sentiment-latest

