# Database
pymongo==4.6.2
motor==3.3.2

# Data Ingestion
requests==2.31.0
beautifulsoup4==4.12.3
google-api-python-client==2.121.0

# NLP & Data Processing
transformers==4.38.2
torch==2.2.1
pandas==2.2.1

# API & Backend
fastapi==0.110.0
uvicorn==0.28.0
pydantic==2.6.4

# Dashboard
streamlit==1.32.0

# Utils
python-dotenv==1.0.1

